@import "../theme";

.nav {
  box-sizing: border-box;
  display: grid;
  width: 16rem;
  background: $black;
  padding: 0 2rem;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  align-content: center;
  justify-items: right;
  z-index: 1;
  font-family: "Sora", sans-serif;
  animation:  slide 0.7s forwards;
}

.logo {
  position: absolute;
  top: 0;
  transform: scale(1.1) translate(2rem);
  transform-origin: top left;
  z-index: 1;
  animation: spin 0.7s forwards;

}

.links {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.link {
  color: $white;
  font-size: 1.5rem;
  padding: 1rem 0;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 125ms, 500ms;
  transition-property: padding, color;

  &:hover {
    padding-right: 0.5rem;
    color: $orange;
  }

  &.active {
    color: $red;
  }
}

.footer {
  color: $white;
  text-align: center;
}

@keyframes spin {
    from{
        transform: translateX(-5rem) rotate(0deg);    
    }
    to{
        transform: translateX(2rem) rotate(360deg);  
    }
}

@keyframes slide {
    from{
        transform: translateX(-100%);    
    }
    to{
        transform: translateX(0);  
    }
}