.content {
  position: relative;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.imgContainer {
  display: grid;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 30rem;
}

.img {
  position: relative;
  justify-self: center;
  max-width: 64rem;
  width: 100%;
  height: 30rem;
}
