@import "../theme";

.main {
  font-family: "Sora", sans-serif;
  padding: 0 8rem;
  margin-left: 16rem;
  position: relative;
  background: $white url(./background.png);
  min-height: 100vh;
}

.fade {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50vh;
  background: linear-gradient(180deg, rgba($white, 1) 50%, rgba($white, 0) 100%);
}
