@import "../theme";

.posts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.post {
  text-decoration: none;
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  margin: 0.5rem;
  flex-grow: 1;
  height: 15rem;
  position: relative;
  border: 0.25rem solid transparent;
  cursor: pointer;
  transition-property: transform;
  transition-duration: .35s;
  transform:scale(1);
  
  img {
    filter:sepia(40%);
    transition-property:filter;
    transition-duration: .35s;
  }

  &:hover img {transform:scale(1.02);filter:sepia(0);}
  &:hover { transform:scale(1.01);}

}

.thumbnail {
  grid-column: 1;
  grid-row: 1;
}

.title {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  align-self: end;
  text-align: center;
  justify-self: stretch;
  color: $white;
  font-size: 0.9rem;
  padding: 33% 0.5rem 0.5rem 0.5rem;
  border-bottom: 0 solid $orange;
  background: linear-gradient(transparent, rgba($black, 0.8) 80% );
  letter-spacing:1px;
}

.introContent{


  p {
  margin:auto;
  max-width:780px;
  color:$black;
  font-family:"Sora-light", sans-serif;
  letter-spacing:1px;
  line-height: 1.33;
  font-size:calc(12px + 0.5vw);
  padding-bottom:2rem;
  margin-bottom:2rem;
  border-bottom: 1px solid $orange;

    }
}