@import "../theme";

.posts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.post {
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  margin: 0.5rem;
  flex-grow: 1;
  height: 15rem;
  position: relative;
  border: 0.25rem solid transparent;
  cursor: pointer;

  &:hover {
    .title {
      color: $white;
      border-bottom: 0.5rem solid $orange;
    }
  }
}

.thumbnail {
  grid-column: 1;
  grid-row: 1;
}

.title {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  align-self: end;
  text-align: center;
  justify-self: stretch;
  color: rgba($white, 0.75);
  font-size: 0.9rem;
  padding: 0.5rem;
  transition-duration: 125ms;
  transition-property: border, color;
  border-bottom: 0 solid $orange;
  background: rgba($black, 0.9);
}
